/* create a css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #f1f1f1;
  --white: #ffffff;
  /* gray varients */
  --gray-50: #656266;
  --gray-100: #616161;
  --gray-200: #322f33;
  --gray-300: #1c181d;
  --gray-400: #1a1a1a;
  /* font color*/
  --text-light: #e3e3e3;
  --text-mid: #616161;
  --text-dark: #475467;
  /* strokes color */
  --s50: #ebebeb;
  --s100: #000000/7%;
  --s200: #ffffff/20%;

  /* states color */
  --states-hover: #f1f1f1;
}

/* css variables */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* create a global style */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

/* Nav section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: var(--gray-300);
  position: relative;
}

.mobile-logo {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding: 1rem;
  }

  .mobile-logo {
    display: block;
  }
  .desktop-logo {
    display: none;
  }
}

/* search bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--gray-200);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray-100);
  width: 30rem;
}

.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
  width: 100%;
}

.search-bar input::placeholder {
  font-weight: 500;
  color: #b5b5b5;
}

@media (max-width: 768px) {
  .search-bar {
    width: 20rem;
  }
}

/* Bell User style */
.bell-user {
  display: flex;
  gap: 1rem;
}

.bell {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray-200);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-component {
  border-radius: 0.5rem;
  padding: 0.125rem 0.125rem 0.125rem 0.5rem;
  background-color: var(--gray-200);
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.user-name {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.user-icon {
  border-radius: 0.5rem;
  background: #36fba1;
  padding: 0.2rem 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

@media (max-width: 768px) {
  .bell-user {
    gap: 0.2rem;
  }

  .bell {
    background-color: transparent;
  }

  .user-component {
    background-color: transparent;
  }

  .user-name {
    display: none;
  }

  .user-component {
    padding: 0.125rem;
  }
}

/* Alert */
.alert {
  padding: 1rem;
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 100;
  width: 92%;
  max-width: 35rem;
  border-radius: 0.875rem;
  border: 1px solid var(--s50, #dbdbdb);
  background: var(--white, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: none;
  opacity: 0;

  transition: all 0.3s ease-in-out;
}

.alert.show {
  display: block;
  opacity: 1;
}

.alert-header {
  font-size: 1.2rem;
  color: #303030;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.alert-icons {
  gap: 0.5rem;
}

.alert-icon {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.alert-text {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  background: var(--bg, #f1f1f1);
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.alert-text p {
  font-size: 0.9125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: var(--text-mid);
}

@media (max-width: 768px) {
  .alert {
    top: 6rem;
  }
}

/* user modal */

.user-modal {
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 100;
  width: 90%;
  max-width: 30rem;
  border-radius: 0.875rem;
  border: 1px solid var(--s50, #dbdbdb);
  background: var(--white, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  display: none;
}

.user-modal.show {
  display: block;
}

.user-modal_user-store {
  padding: 1rem;
  border-bottom: 1px solid var(--s50, #dbdbdb);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-modal_user {
  display: flex;
  padding: 0.35rem 0.75rem 0.35rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.5rem;
  background: var(--states-hover, #f1f1f1);
}

.user-icon-modal {
  padding: 0.6rem;
}

.user-modal_user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.user-modal-name {
  color: var(--text-dark, #303030);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.user-modal_store {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.75rem 0.35rem 0.5rem;
  border-radius: 0.5rem;
}

.user-modal_store:hover {
  background: var(--states-hover, #f1f1f1);
}

.user-modal_store p {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--text-dark, #303030);
}

/* modal links */
.modal-links {
  padding: 1rem;
  border-bottom: 1px solid var(--s50, #dbdbdb);
}

.modal-links ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.modal-links ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.55rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text-dark, #303030);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
}

.modal-links ul li:hover {
  background: var(--states-hover, #f1f1f1);
}

.modal-links-users:hover {
  background: none !important;
}
.modal-links-user {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.modal-links-user p {
  font-weight: 500;
}

.modal-links-user span {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--text-mid);
}

@media (max-width: 768px) {
  .user-modal {
    top: 6rem;
  }
}

/* content styling */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  /* border: 1px solid red; */
  min-height: 100vh;
  position: relative;
}

.cta {
  /* position: absolute; */
  /* top: 2rem; */
  right: 0;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--gray-400, #1a1a1a);
  color: white;
  padding: 1rem 4rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-text p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: var(--text-light, #e3e3e3);
}

.cta.close {
  display: none;
}

.cta-btn {
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}

.close {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.cta-btn p {
  color: var(--text-dark, #323232);

  font-size: 0.85rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 0.975rem */
}

@media (max-width: 768px) {
  .cta {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    /* remove border radius */
    border-radius: 0;
  }
}

/* Main content */

.main-content {
  margin-top: 1rem;
  border-radius: 1.125rem;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.main-content--header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content--header-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-content--header-left h2 {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: var(--text-dark, #303030);
}

.main-content--header-left p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--text-dark, #303030);
}

@media (max-width: 768px) {
  .main-content {
    /* margin-top: 8rem; */
    border-radius: 0;
  }
}

.main-content--progressBar {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-content--progressBar p {
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--text-dark, #303030);
}

.main-content--progressBar .progressBar {
  width: 4.5rem;
  height: 0.25rem;
  background: #e3e3e3;
  border-radius: 0.25rem;
  position: relative;
}

.progressBar--progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* make the width to be in 5 steps */
  /* width: %; */
  background: var(--gray-300);
  border-radius: 0.25rem;
}

/* main-content--carousel */

.main-content--carousel {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.carousel-content {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.carousel-content.active {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  border: 1px solid var(--s50, #dbdbdb);
  border-radius: 0.5rem;
  background: #f3f3f3;
}

.carousel-active-content {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.setup-img img {
  width: 100%;
  height: 100%;
}

.carousel-content .setup-header {
  color: var(--text-dark, #303030);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.carousel-content .setup-description {
  display: none;
}

.carousel-content .setup-img {
  display: none;
}

.carousel-content.active .setup-description {
  display: block;
  color: var(--text-mid, #616161);
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.carousel-content.active .setup-img {
  display: block;
}

.setup-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.setup-btn {
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border-top: 1.5px solid var(--s100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--s100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--s100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}


.setup-btn p {
  color: var(--text-light, #e3e3e3);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 0.975rem */
}

@media (max-width: 768px) {
  .carousel-content.active .setup-img {
    display: none;
  }
}

.checking {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px dashed #8a8a8a;
}
